.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 6px -6px #222;
    
}

.header__logo{
    height: 40px;
    width: 100px;
    object-fit: contain;
    margin-right: 20px;
}